.title-of-page {
    max-width: 1050px;
    margin: 0 auto;
}

.title-of-page p {
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    color: #2E3E5C;
    margin: 1.75em 0 1.75em 0;
    padding: 0 24px;
}

@media screen and (max-width: 500px) {
    .title-of-page p {
        font-size: 2.5em;
    }
}

/* "Subdiviziunile IMSP „CMF mun. Bălți”" section */

.card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 5em;
    max-width: 1165px;
    margin: 4em auto;
}

@media screen and (max-width: 1100px) {
    .card-container {
        gap: 3em;
    }
}



.card {
    border: 1px solid rgba(176, 190, 197, 0.5);
    padding: 2em 4em;
    border-radius: 10px;
    box-shadow: 2px 2px 40px -10px rgba(0, 0, 0, 0.25);
    color: #2E3E5C;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

@media screen and (max-width: 600px) {

    .card {
        padding: 1.5em;
    }
}

.card-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    max-width: 333px;
}

.card img {
    width: 333px;
    height: 249px;
    object-fit: cover;
    border-radius: 10px;
}

.card-info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 0.75em;
    align-items: center;
}

.card-info p {
    margin: 0;
    font-size: 1.25em;
    text-align: center;
    white-space: nowrap;
}

.line {
    color: rgba(46, 62, 92, 0.5);
}

@media screen and (max-width: 500px) {
    .card {
        flex: 1 1 300px; /* Grow, shrink, base width */
        min-width: 250px; /* Prevent from getting too small */
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap; /* allows wrapping and shrinking */
        gap: 2em;
        justify-content: center;
    }

    .card img {
        width: 100%;
        max-width: 333px;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
    }
      
      
}

/* Add space between the pill container and the footer to match symetry*/
.contact-container {
    padding-bottom: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

#programul-unic-link {
    color: #2E3E5C;
}