.title-of-page {
    margin: 0 auto;
}

.title-of-page p {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: #2E3E5C;
    margin: 2em 0;
    padding: 0 24px;
}

@media screen and (max-width: 500px) {
    .title-of-page p {
        font-size: 2.5em;
    }
}

/* "Subdiviziunile IMSP „CMF mun. Bălți”" section */

.card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 5em;
    max-width: 1165px;
    margin: 4em auto;
}

@media screen and (max-width: 1100px) {
    .card-container {
        gap: 3em;
    }
}



.card {
    border: 1px solid var(--border);
    border-radius: 16px;
    box-shadow: var(--shadow-drop);
    color: #2E3E5C;
    overflow: hidden;
    background-color: #ffffff;
    width: 400px;
    max-width: 100%;

    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.card-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
}

.card-row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.card-row i {
    font-size: 24px;
}

.card-row p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 500px) {
    .card {
        flex: 1 1 300px; /* Grow, shrink, base width */
        min-width: 250px; /* Prevent from getting too small */
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap; /* allows wrapping and shrinking */
        gap: 2em;
        justify-content: center;
    }
}

/* Add space between the pill container and the footer to match symetry*/
.contact-container {
    padding-bottom: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

#programul-unic-link {
    color: #2E3E5C;
}
