/* "Programare online" section */
.main-section-1 {
    max-width: fit-content;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    background-color: var(--background-white);
    border: 1px solid var(--border);
    box-shadow: var(--shadow-drop);
    border-radius: 32px;
    margin: 96px auto;
    flex-wrap: nowrap;
    padding: 32px;
}

.main-section-1 .left-side {
    max-width: 400px;
}

.main-section-1 p {
    color: #2E3E5C;
    margin: 2em 0;
    
}

.main-section-1 p:first-child {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

.main-section-1 p:nth-child(even) {
    font-size: 1em;
}

.main-section-1 a {
    all: unset;
    display: block;
    max-width: fit-content;
    background-color: #FF6B6B;
    color: white;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    padding: 1em 2em;
    font-weight: bold;
    margin: 0;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.main-section-1 a:hover {
    background-color: #E65555; /* Hover color */
}

.main-section-1 img {
    border-radius: 1.5em;
    border: 1px solid rgba(176, 190, 197, 0.7);
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: contain;
}

/* Remove space between elements */
@media (max-width: 1000px) {
    .main-section-1 img {
        max-width: 400px;
    }
}

/* Switch to portrait view
@media (max-width: 860px) {
    .main-section-1 {
        flex-direction: column;
    }

    .main-section-1 .left-side {
        margin-bottom: 0;
    }

    .main-section-1 .left-side p:first-child {
        text-align: center;
        margin-top: 0.25em;
    }


    .main-section-1 a {
        margin: 0 auto;
    }


}*/
/* End of "Programare online" section */

/* "Informatii utile" section */
.info-utile {
    margin: 96px auto;
    padding: 0 0.5em;

    max-width: 1500px;
}

/* Title of the section */
.info-utile > p {
    font-size: 2em;
    font-weight: bold;
    color: #2E3E5C;
    text-align: center;
}


.info-utile-containers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.info-utile-containers > div {
    width: 320px;
    background-color: var(--background-white);
    border: 1px solid var(--border);
    padding: 48px 32px;
    text-align: center;
    border-radius: 24px;
    box-shadow: var(--shadow-drop);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.info-utile-containers p {
    
    font-size: 24px;
    font-weight: bold;
    color: var(--text-blue);
    margin: 0;
}

.info-utile-containers p:last-child {
    font-size: 16px;
    font-weight: normal;
}

.info-utile .icon {
    font-size: 150px;
    color: var(--text-blue);
    stroke-width: 0.5;
}

/* End of "Informatii utile" section */


/* "Despre CMF" main page section */
#despre-cmf {
    background-color: var(--background-blue);
}

.content {

    padding: 64px 0;

    margin: 0 auto;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
    gap: 64px;
}

.content .image-side {
    max-width: 400px;
}

.content .content-side {
    max-width: 500px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2em;
}

.content p:first-child {
    color: #FFDD33;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    padding-left: 0;
}

.content p {
    color: white;
    font-size: 1em;
    text-align: justify;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.content a {
    all: unset;
    color: white;
    text-decoration: none;
    background-color: #FF6B6B;
    cursor: pointer;
    padding: 1em 2em;
    border-radius: 8px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin: 0 auto;
    transition: background-color 0.3s ease;
}

.content a:hover {
    background-color: #E65555;
}

.content img {
    width: 100%;
    height: auto;
    border-radius: 16px;
}

/* Switching to column view*/
@media screen and (max-width: 1050px) {
    
    .content {
        flex-direction: column;
    }

    #esti-beneficiar .content {
        flex-direction: column-reverse;
    }
}

/* End of "Despre CMF" main page section */

#esti-beneficiar {
    background-color: white;
}

#esti-beneficiar p {
    color: #2E3E5C;
}





/* "Transparenta" section*/
.transparenta-section-wrapper {
    background-color: var(--background-blue);
}

.transparenta-section {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    max-width: fit-content;
    margin: 0 auto;


    gap: 2em;
    padding: 64px 0;
}

.transparenta-section p:first-child {
    color: #FFDD33;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    line-height: 1.2;
}


.transparenta-section p {
    color: white;
    font-size: 1em;
    text-align: justify;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    max-width: 500px;
    margin: 0 auto;
}

.pills {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    flex-wrap: wrap;
}

.pills a {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em 2em;
    background-color: white;
    border-radius: 999px;
    font-size: 1em;
    color: #2E3E5C;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
}
/* End of "Transparenta" section*/

/* "Parteneri oficiali" section */
.parteneri-oficiali-wrapper {
    padding: 0.5em 1.5em;
    background-color: white;
    margin-top: 75px;
    margin-bottom: 75px;
}

#parteneri-oficiali-title {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    color: #2E3E5C;
}

.parteneri-oficiali {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

.parteneri-oficiali > div {
    border: 1px solid rgba(176, 190, 197, 0.5);
    box-shadow: 2px 2px 40px -10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 2em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;


    min-width: 600px;
    max-width: 100%;
}

.parteneri-oficiali p {
    text-align: center;
    color: #2E3E5C;
    font-size: 1.5em;
    line-height: 1.25;
}

.parteneri-oficiali a {
    font-size: 1.5em;
    color: white;
    background-color: #283B6A;
    padding: 0.5em 0.75em;
    border-radius: 999px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.parteneri-oficiali a:hover {
    background-color: #FF5C5C;
}

.parteneri-oficiali img {
    width: 215px;
    height: 215px;
    object-fit: contain;
}

.parteneri-oficiali .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 63%;
}

@media screen and (max-width: 650px) {

    .parteneri-oficiali > div {
        padding: 0em;
        padding-top: 1em;
        padding-bottom: 1em;
        gap: 0em;
        min-width: 100%;
    }

    .parteneri-oficiali p {
        margin: 0;
    }

    .parteneri-oficiali .right-side {
        gap: 1em;
    }

    .parteneri-oficiali img {
        width: 150px;
    }

    .parteneri-oficiali .right-side {
        width: 45%;
    }
}

@media screen and (max-width: 450px) {
    .parteneri-oficiali .right-side a {
        font-size: 1.25em;
        padding: 0.5em;
    }
}
/* End of "Parteneri oficiali" section */