/* "Programare online" section */
.main-section-1 {
    max-width: fit-content;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    background-color: var(--background-white);
    border: 1px solid var(--border);
    box-shadow: var(--shadow-drop);
    border-radius: 32px;
    margin: 6em auto;
    flex-wrap: nowrap;
    padding: 32px;
}

.main-section-1 .left-side {
    max-width: 400px;
}

.main-section-1 p {
    color: #2E3E5C;
    margin: 2em 0;
    
}

.main-section-1 p:first-child {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

.main-section-1 p:nth-child(even) {
    font-size: 1em;
}

.main-section-1 a {
    all: unset;
    display: block;
    max-width: fit-content;
    background-color: #FF6B6B;
    color: white;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    padding: 1em 2em;
    font-weight: bold;
    margin: 0;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.main-section-1 a:hover {
    background-color: #E65555; /* Hover color */
}

.main-section-1 img {
    border-radius: 1.5em;
    border: 1px solid rgba(176, 190, 197, 0.7);
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: contain;
}

/* Remove space between elements */
@media (max-width: 1000px) {
    .main-section-1 img {
        max-width: 400px;
    }
}

/* Switch to portrait view
@media (max-width: 860px) {
    .main-section-1 {
        flex-direction: column;
    }

    .main-section-1 .left-side {
        margin-bottom: 0;
    }

    .main-section-1 .left-side p:first-child {
        text-align: center;
        margin-top: 0.25em;
    }


    .main-section-1 a {
        margin: 0 auto;
    }


}*/
/* End of "Programare online" section */

/* "Informatii utile" section */
.info-utile {
    margin: 0 auto;
    padding: 2em 0.5em;
    max-width: 1500px;
}

/* Title of the section */
.info-utile > p {
    font-size: 3em;
    font-weight: bold;
    color: #2E3E5C;
    text-align: center;
}


.info-utile-containers {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 6em;
}

.info-utile-containers > div {
    width: 21em;
    background-color: white;
    border: 1px solid rgba(176, 190, 197, 0.5);
    padding: 2em;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 40px -15px rgba(0, 0, 0, 0.25);
}

.info-utile-containers p {
    margin: 1em 0;
    font-size: 1.5em;
    font-weight: bold;
    color: #2E3E5C;
    margin: 2em 0;
}

.info-utile-containers p:last-child {
    font-size: 1.25em;
    font-weight: normal;
    margin-bottom: 0;
    width: 15rem;
    margin: auto;
}

.info-utile .icon {
    font-size: 9em;
    color: #283B6A;
}


@media (max-width: 1400px) {
    .info-utile-containers {
        gap: 3em;
    }
}
/* End of "Informatii utile" section */


/* Pill container */
.pill-container-wrapper {
    margin: 0 1em;
}
/*
.pill-container {

    background-color: #F7F9FC;
    border: 1px solid rgba(176, 190, 197, 0.5);
    border-radius: 4em;

    max-width: fit-content;
    width: 100%;
    padding: 1.75em 2.5em;


    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    margin: 3em auto;
}

.pill-container p {
    font-size: 1.25em;
    color:#2E3E5C;
    text-align: justify;
}

.pill-container a {
    text-decoration: none;
    background-color: #FF6B6B;
    color: white;
    font-weight: bold;
    padding: 1em 1.25em;
    font-size: 1em;
    border-radius: 4em;
    font-size: 1.25em;
    transition: background-color 0.3s ease;
}

.pill-container a:hover {
    background-color: #E65555;
}


/* top right bottom left*/

/*@media (max-width: 550px) {
    .pill-container {
        padding: 1em 1em 1em 1.35em;
    }
}
*/
/* End of pill container */


/* "Despre CMF" main page section */
#despre-cmf {
    background-color: #283B6A;
}

.content-wrapper {
    padding: 0.5em;
}

.content {

    padding-top: 75px;
    padding-bottom: 75px;

    margin: 0 auto;
    max-width: 1200px;


    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    
    gap: 110px;
}

.content .image-side {
    max-width: 450px;
}

.content .content-side {
    max-width: 635px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 4em;
}

.content p:first-child {
    color: #FFDD33;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    padding-left: 0;
}

.content p {
    color: white;
    font-size: 1.25em;
    text-align: justify;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.content a {
    all: unset;
    color: white;
    text-decoration: none;
    background-color: #FF6B6B;
    cursor: pointer;
    padding: 1em 2em;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5em;
    display: block;
    font-weight: bold;
    margin: 0 auto;
    transition: background-color 0.3s ease;
}

.content a:hover {
    background-color: #E65555;
}

.content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@media screen and (max-width: 1350px) {
    .content {
        gap: 0px;

    }
}

@media screen and (max-width: 1150px) {
    .content .content-side {
        max-width: 650px;
        gap: 3em;
    }

    .content {
        gap: 1em;
        padding: 1.25em;
    }
}

/* Switching to column view*/
@media screen and (max-width: 1050px) {
    
    #despre-cmf .content {
        flex-direction: column;
    }
    
    .content {
        flex-direction: column-reverse;
        gap: 3em;
        margin-top: 2em;
        margin-bottom: 2em;
        
    }

    .content p {
        padding-left: 0;
    }

    
}

/* End of "Despre CMF" main page section */

#esti-beneficiar {
    background-color: white;
}

#esti-beneficiar p {
    color: #2E3E5C;
}





/* "Transparenta" section*/
.transparenta-section-wrapper {
    background-color: #283B6A;
    padding: 0.5em;
}

.transparenta-section {
    
    display: flex;
    flex-direction: column;
    
    max-width: fit-content;
    margin: 0 auto;


    gap: 4em;
    padding: 1.25em;
    padding-top: 75px;
    padding-bottom: 75px;
}

.transparenta-section p:first-child {
    color: #FFDD33;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    
}

/* Because the text is too long, on narrower screens it goes out of bounds */
@media screen and (max-width: 450px) {
    .transparenta-section p:first-child {
        
        word-break: break-word;
        text-align: center;
        hyphens: manual; /* important to allow &shy; to work */
    }
}

.transparenta-section p {
    color: white;
    font-size: 1.25em;
    text-align: justify;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    max-width: 635px;
    margin: 0 auto;
}

.pills {
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
    margin-top: 1em;
}

.pills a {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em 1.5em;
    background-color: white;
    border-radius: 999px;
    font-size: 1.5em;
    color: #2E3E5C;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    min-width: 225px; /* Ensures equal width but keeps flexibility */
    max-width: 100%;  /* Prevents it from overflowing */
}


.pills a:hover {
    background-color: #E65555;
    color: white; /* Ensures good contrast */
}


@media screen and (max-width: 1050px) {

    .transparenta-section {
        gap: 3em;
        margin-top: 2.5em;
        margin-bottom: 2.5em;
        padding: 1.25em;
    }
    
}
/* End of "Transparenta" section*/

/* "Parteneri oficiali" section */
.parteneri-oficiali-wrapper {
    padding: 0.5em 1.5em;
    background-color: white;
    margin-top: 75px;
    margin-bottom: 75px;
}

#parteneri-oficiali-title {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    color: #2E3E5C;
}

.parteneri-oficiali {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

.parteneri-oficiali > div {
    border: 1px solid rgba(176, 190, 197, 0.5);
    box-shadow: 2px 2px 40px -10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 2em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;


    min-width: 600px;
    max-width: 100%;
}

.parteneri-oficiali p {
    text-align: center;
    color: #2E3E5C;
    font-size: 1.5em;
    line-height: 1.25;
}

.parteneri-oficiali a {
    font-size: 1.5em;
    color: white;
    background-color: #283B6A;
    padding: 0.5em 0.75em;
    border-radius: 999px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.parteneri-oficiali a:hover {
    background-color: #FF5C5C;
}

.parteneri-oficiali img {
    width: 215px;
    height: 215px;
    object-fit: contain;
}

.parteneri-oficiali .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 63%;
}

@media screen and (max-width: 650px) {

    .parteneri-oficiali > div {
        padding: 0em;
        padding-top: 1em;
        padding-bottom: 1em;
        gap: 0em;
        min-width: 100%;
    }

    .parteneri-oficiali p {
        margin: 0;
    }

    .parteneri-oficiali .right-side {
        gap: 1em;
    }

    .parteneri-oficiali img {
        width: 150px;
    }

    .parteneri-oficiali .right-side {
        width: 45%;
    }
}

@media screen and (max-width: 450px) {
    .parteneri-oficiali .right-side a {
        font-size: 1.25em;
        padding: 0.5em;
    }
}
/* End of "Parteneri oficiali" section */