/* "Programare online" section */
.main-section-1-wrapper {
    padding: 0 1.5em;
}

.main-section-1 {
    max-width: fit-content;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    align-items: center;
    background-color: var(--background-white);
    border: 1px solid var(--border);
    box-shadow: var(--shadow-drop);
    border-radius: 32px;
    margin: 6em auto;
    flex-wrap: nowrap;
    padding: 2em;
}

.main-section-1 .left-side {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.main-section-1 p,
.main-section-1 .hero-title {
    color: var(--text-blue);
    margin: 0;
}

.main-section-1 .hero-title {
    font-size: 2rem;
    font-weight: bold;
}

.main-section-1 .hero-description {
    font-size: 1rem;
}

.main-section-1 a {
    all: unset;
    display: block;
    max-width: fit-content;
    background-color: var(--red-normal);
    color: var(--text-white);
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    padding: 1em 2em;
    font-weight: bold;
    margin: 0;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.main-section-1 a:hover {
    background-color: var(--red-dark); /* Hover color */
}

.main-section-1 a:active {
    background-color: var(--red-light);
}

.main-section-1 img {
    border-radius: 24px;
    border: 1px solid var(--border);
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: contain;
}

@media (max-width: 1024px) {
    .main-section-1 {
        flex-direction: column;
    }

    .main-section-1 p {
        text-align: center;
    }

    .main-section-1 .left-side {
        justify-content: center;
        align-items: center;
        gap: 1.5em;      
    }

    .main-section-1 img {
        max-width: 600px;
    }

    .main-section-1 p:first-child {
        margin-top: 0.5em;
    }
}

/* End of "Programare online" section */


















/* "Informatii utile" section */
.info-utile {
    margin: 6em auto;
    padding: 0 1.5em;

    max-width: 1500px;
}

/* Title of the section */
.info-utile-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-blue);
    text-align: center;
    margin: 0 0 1em;
}


.info-utile-containers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    list-style: none;
    margin: 0;
    padding: 0;
}

.info-utile-card {
    width: 320px;
    background-color: var(--background-white);
    border: 1px solid var(--border);
    padding: 3em 2em;
    text-align: center;
    border-radius: 24px;
    box-shadow: var(--shadow-drop);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.info-utile-card-title {
    
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-blue);
    margin: 0;
}

.info-utile-card p {
    font-size: 1rem;
    font-weight: normal;
    color: var(--text-blue);
    line-height: 1.5;
    min-height: 72px;
    display: flex;
    align-items: center;
    margin: 0;
}

.info-utile-card p > span {
    display: block;
    width: 100%;
}

.info-utile-containers a {
    color: inherit;
    text-decoration: underline;
}

.info-utile .icon {
    font-size: 9.375rem;
    color: var(--text-blue);
    stroke-width: 0.5;
}
/* End of "Informatii utile" section */


/* "Despre CMF" main page section */
.content-wrapper {
    padding: 0 1.5em;
}

#despre-cmf {
    background-color: var(--background-blue);
}

.content {

    padding: 4em 0;

    margin: 0 auto;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
    gap: 4em;
}

.content .image-side {
    max-width: 400px;
}

.content .content-side {
    max-width: 500px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2em;
}

.content-title {
    color: var(--text-yellow);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    padding-left: 0;
    margin: 0;
}

.content p {
    color: var(--text-white);
    font-size: 1rem;
    text-align: justify;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.content a {
    all: unset;
    color: var(--text-white);
    text-decoration: none;
    background-color: var(--red-normal);
    cursor: pointer;
    padding: 1em 2em;
    border-radius: 8px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 auto;
    transition: background-color 0.3s ease;
}

.content a:hover {
    background-color: var(--red-dark);
}

.content a:active {
    background-color: var(--red-light);
}

.content img {
    width: 100%;
    height: auto;
    border-radius: 16px;
}

/* Switching to column view*/
@media screen and (max-width: 1050px) {
    
    .content {
        flex-direction: column;
    }

    #esti-beneficiar .content {
        flex-direction: column-reverse;
    }
}

/* End of "Despre CMF" main page section */

#esti-beneficiar {
    background-color: var(--text-white);
}

#esti-beneficiar p,
#esti-beneficiar .content-title {
    color: var(--text-blue);
}





/* "Transparenta" section*/
.transparenta-section-wrapper {
    background-color: var(--background-blue);
    padding: 0 1.5em;
}

.transparenta-section {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    max-width: fit-content;
    margin: 0 auto;


    gap: 2em;
    padding: 4em 0;
}

.transparenta-title {
    color: var(--text-yellow);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    line-height: 1.2;
}


.transparenta-section p {
    color: var(--text-white);
    font-size: 1rem;
    text-align: justify;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    max-width: 500px;
    margin: 0 auto;
}

.pills {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    flex-wrap: wrap;
}

.pills a {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em 2em;
    background-color: var(--text-white);
    border-radius: 999px;
    font-size: 1rem;
    color: var(--text-blue);
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pills a:hover {
    background-color: var(--red-dark);
    color: var(--text-white);
}

.pills a:active {
    background-color: var(--red-light);
    color: var(--text-white);
}

@media (max-width: 768px) {
    
    .pills {
        gap: 1em;
    }
    
    .pills a {
        max-width: 235px;
        width: 100%;
    }
}
/* End of "Transparenta" section*/

/* "Parteneri oficiali" section */
.parteneri-oficiali-wrapper {
    background-color: var(--text-white);
    margin: 6em auto;
    padding: 0 1.5em;
}

#parteneri-oficiali-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    color: var(--text-blue);
    margin: 0 0 1em;
}

.parteneri-oficiali {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.parteneri-oficiali > li {
    border: 1px solid var(--border);
    box-shadow: var(--shadow-drop);
    border-radius: 24px;
    padding: 2em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2em;

    width: 500px;
}

.parteneri-oficiali .partner-name {
    text-align: center;
    color: var(--text-blue);
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 400;
    margin: 0;
}

.parteneri-oficiali a {
    font-size: 1rem;
    color: var(--text-white);
    background-color: var(--background-blue);
    padding: 0.5em 0.75em 0.5em 0.5em;
    border-radius: 999px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.parteneri-oficiali a:hover {
    background-color: var(--red-dark);
}

.parteneri-oficiali img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.parteneri-oficiali .right-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 150px;
}

.parteneri-oficiali .right-side .partner-name {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parteneri-oficiali .right-side a {
    margin-top: auto;
}

@media (max-width: 675px) {
    .parteneri-oficiali img {
        width: 100px;
        height: 100px;
    }

    .parteneri-oficiali > div {
        gap: 1.5em;
        padding: 1.5em;
    }

    .parteneri-oficiali .partner-name {
        font-size: 1rem;
    }

    .parteneri-oficiali .right-side {
        min-height: 110px;
    }
}
/* End of "Parteneri oficiali" section */
