@media screen and (max-width: 450px) {
    #responsabilitatile_pacientului {
        hyphens: manual;
        word-break: normal;
        text-align: center;
    }    
}

.block {
    max-width: 1165px;
    border: 1px solid var(--border);
    color: var(--text-blue);
    padding: 2em;
    border-radius: 1.5em;

    display: flex;
    flex-direction: column;
    gap: 1.5em;
    box-shadow: var(--shadow-drop);
}

@media screen and (max-width: 500px) {
    .block {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
}

.section-text .block-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.list {
    line-height: 1.5;
}

/* */
.servicii-block {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

#servicii-pill-container .pill-container {
    margin-bottom: 4.5em;
    
}

#servicii-pill-container {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/* "Tarife" section */
.tarife {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    margin: 4em auto;
    padding: 0 1.5em;
}

.tarife-title-text {
    font-size: 1.5em;
    color: var(--text-blue);
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}


.download-button-class {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;

    justify-content: center;

    margin: 0 auto;
}


.download-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;

    max-width: fit-content;

    color: var(--text-white);
    background-color: var(--red-normal);
    padding: 1em;
    border-radius: 8px;
    transition: background-color 0.3s ease;

    text-decoration: none;
}

.download-button p, .download-icon {
    font-size: 1em;
    margin: 0;
}

.download-button:hover {
    background-color: var(--red-dark);
    cursor: pointer;
}

.download-button:active {
    background-color: var(--red-light);
}

.simple-link {
    color: var(--text-blue);
}


@media (max-width: 768px) {
    .download-button-class {
        gap: 1.5em;
    }
}
/* End of "Tarife" section */
