.not-found {
    min-height: 100vh;
    min-height: calc(100vh - var(--navbar-height));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5em;
    
}

.not-found-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    max-width: 350px;
}

.not-found-title {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    color: var(--text-blue);
}

.not-found-text {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-blue);
}

.not-found-inline-link {
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.not-found-link {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--red-normal);
    color: var(--text-white);
    text-decoration: none;
    font-size: 16px;
    
    transition: background-color 0.3s ease;
}

.not-found-link:hover {
    background-color: var(--red-dark);
}

.not-found-link:active {
    background-color: var(--red-light);
}
