/* Pill container */
.pill-container {

    background-color: var(--background-white);
    border: 1px solid var(--border);
    border-radius: 64px;

    max-width: fit-content;
    width: 100%;
    padding: 1.75em 2.5em;


    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    margin: 3em auto;
}

.pill-container p {
    font-size: 1.25rem;
    color: var(--text-blue);
    text-align: justify;
}

.pill-container a {
    text-decoration: none;
    background-color: var(--red-normal);
    color: var(--text-white);
    font-weight: bold;
    padding: 1em 1.25em;
    border-radius: 80px;
    font-size: 1.25rem;
    transition: background-color 0.3s ease;
}

.pill-container a:hover {
    background-color: var(--red-dark);
}

.pill-container a:active {
    background-color: var(--red-light);
}


/* top right bottom left*/
@media (max-width: 550px) {
    .pill-container {
        padding: 1em 1em 1em 1.35em;
    }
}

/* The pill container switches to a column view*/
@media (max-width: 400px) {
    .pill-container {

        flex-direction: column;
        
        padding: 1em 2em;
    }

    .pill-container p {
        
        margin: 0;
        text-align: center;
    }

    .pill-container a {
        padding: 0.75em 1em;
    }
}

/* End of pill container */
