/* Pill container */
.pill-container {

    background-color: #F7F9FC;
    border: 1px solid rgba(176, 190, 197, 0.5);
    border-radius: 4em;

    max-width: fit-content;
    width: 100%;
    padding: 1.75em 2.5em;


    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    margin: 3em auto;
}

.pill-container p {
    font-size: 1.25em;
    color:#2E3E5C;
    text-align: justify;
}

.pill-container a {
    text-decoration: none;
    background-color: #FF6B6B;
    color: white;
    font-weight: bold;
    padding: 1em 1.25em;
    border-radius: 4em;
    font-size: 1.25em;
    transition: background-color 0.3s ease;
}

.pill-container a:hover {
    background-color: #E65555;
}


/* top right bottom left*/
@media (max-width: 550px) {
    .pill-container {
        padding: 1em 1em 1em 1.35em;
    }
}

/* The pill container switches to a column view*/
@media (max-width: 400px) {
    .pill-container {

        flex-direction: column;
        
        padding: 1em 2em;
    }

    .pill-container p {
        
        margin: 0;
        text-align: center;
    }

    .pill-container a {
        padding: 0.75em 1em;
    }
}

/* End of pill container */