.quick-select {
    margin: 0 auto;
    margin: 4em auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;

    padding-left: 1.5em;
    padding-right: 1.5em;
}

.quick-select p {
    font-size: 3em;
    color: #2E3E5C;
    text-align: center;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.select-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5em;
    
    max-width: 1160px;
}

.select-options a {
    all: unset;
    background-color: #FF6B6B;
    padding: 0.75em;
    border-radius: 999px;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;


    min-width: 250px; /* Ensures equal width but keeps flexibility */
    max-width: 100%;  /* Prevents it from overflowing */
}

@media screen and (max-width: 800px) {
    .select-options a {
        min-width: none;
        width: 100%;
        max-width: 360px;
    }
}

.select-options a:hover {
    background-color: #E65555;
    cursor: pointer;
}