.quick-select {
    margin: 0 auto;
    margin: 4em auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;

    padding: 0 1.5em;

    max-width: 700px;
}

.quick-select p {
    font-size: 1.5em;
    color: var(--text-blue);
    text-align: center;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.select-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    
    max-width: 1160px;
}

.select-options a {
    all: unset;
    background-color: var(--red-normal);
    padding: 12px 24px;
    border-radius: 999px;
    color: var(--text-white);
    font-size: 1em;
    text-align: center;
    transition: background-color 0.3s ease;
}

@media screen and (max-width: 800px) {
    .select-options a {
        min-width: none;
        width: 100%;
        max-width: 360px;
    }
}

.select-options a:hover {
    background-color: var(--red-dark);
    cursor: pointer;
}

.select-options a:active {
    background-color: var(--red-light);
}
