.title-text {
    font-size: 2em;
    color: var(--text-yellow);
    text-align: center;
    background-color: var(--background-blue);
    padding: 0.75em;
    font-weight: bold;
    margin: 0;
}

.section-text {
    max-width: 1165px;
    margin: 4em auto;
    padding: 0 1.5em;
}

.section-text p, .section-text ul, .section-text ol {
    text-align: justify;
    color: var(--text-blue);
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
}

.section-text ul, ol {
    padding-left: 1.5em;
}