<!-- Above header section -->
<div class="above-header-wrapper">
    <div class="above-header">
    
        <div class="left-side">
            <div class="above-header-container">
                <!-- Remove this left margin... -->
                <i class="fa-regular fa-clock icon"></i>
                <p>Luni - Vineri: 8:00 - 19:00<br>Sâmbătă: 8:00 - 13:00</p>
            </div>
    
            <div class="above-header-container">
                <i class="fa-solid fa-phone icon"></i>
                <p>(0231) 7-52-28</p>
            </div>
        </div>
    
    
    
        <div class="right-side">
            <div class="above-header-container">
                <a href="https://www.facebook.com/cmfbalti/" target="_blank"><i class="fa-brands fa-facebook icon"></i></a>
                <a href="https://www.youtube.com/@cmfbaltiimsp3451" target="_blank"><i class="fa-brands fa-youtube icon"></i></a>
            </div>
        </div>
    </div>
</div>