<div class="navbar-wrapper">
    <div class="navbar">

        <!-- Left side -->    
        <a class="left-side" href="index.html">
            <img src="images/logo-cmf.png" alt="Logo-ul CMF Balti">
            <p>Centrul Medicilor de<br>Familie mun. Bălți</p>
        </a>
    
        <!-- Right side -->
        <div class="right-side">
            <ul>
                <li><a href="index.html" id="nav-index">Acasă</a></li>
                <li><a href="despre-cmf.html" id="nav-despre-cmf">Despre CMF</a></li>
                <li><a href="info-pentru-beneficiari.html" id="nav-info-beneficiari">Informații pentru<br>beneficiari</a></li>
                <li><a href="transparenta.html" id="nav-transparenta">Transparență</a></li>
                <li><a href="contacte.html" id="nav-contacte">Contacte</a></li>
            </ul>
        </div>
    
        <!-- Mobile menu stuff -->
        <!-- Hamburger Button -->
        <div class="hamburger" onclick="toggleMenu()">
            <span class="line-1"></span>
            <span class="line-2"></span>
            <span class="line-3"></span>
        </div>
    
        <div class="mobile-menu">
            <ul>
                <li><a href="index.html" id="nav-index-mobile">Acasă</a></li>
                <li><a href="despre-cmf.html" id="nav-despre-cmf-mobile">Despre CMF</a></li>
                <li><a href="info-pentru-beneficiari.html" id="nav-info-beneficiari-mobile">Informații pentru<br>beneficiari</a></li>
                <li><a href="transparenta.html" id="nav-transparenta-mobile">Transparență</a></li>
                <li><a href="contacte.html" id="nav-contacte-mobile">Contacte</a></li>
            </ul>
        </div>
    </div>
</div>