:root {
  --background-blue: #283b6a;
  --background-white: #ffffff;
  --border: rgba(176, 190, 197, 0.5);
  --text-blue: #2e3e5c;
  --text-white: #fcfcfc;
  --text-yellow: #ffdd33;
  --red-dark: #ff4d4d;
  --red-normal: #ff6b6b;
  --red-light: #ff8585;
  --shadow-drop: 0 4px 16px 0 rgba(128, 128, 128, 0.12);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
}

.logo {
  height: 96px;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 32px #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 32px #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
